<!doctype html>
<html lang="en" id="ng-app" ng-app="todoApp" ng-controller="TodoController as ctrl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title ng-bind="pageTitle"></title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<div class="app-container">
    <h1>TODO LIST</h1>
    <input type="text"
           class="task-input"
           ng-model="todoInput"
           ng-enter="addTodoItem()"
           placeholder="Купить молока"
           required>

    <div class="todo-list">
        <ul>
            <li class="todo-list-item"
                ng-repeat="todo in todoList | filter:search track by $id($index)">

                <input type="checkbox"
                       ng-model="todo.done"
                       ng-change="saveState()">

                <span ng-show="!editing"
                      ng-click="editing = true"
                      class="done-{{todo.done}} taskRow">
                    {{todo.text}}
                </span>

                <input ng-show="editing"
                       type="text"
                       ng-model="todo.text"
                       ng-enter="saveTodo(todo); editing = false"
                       required>

                <a href="#" ng-click="removeTodoItem(todo)"></a>

                <span class="todo-list-item__date">
                    {{todo.date}}
                </span>

            </li>
        </ul>
    </div>

    <div id="stats" ng-show="todoList.length">
        <p>Осталось: {{numDone()}} из {{todoList.length}}</p>
        <input ng-model="search" placeholder="Фильтр">
        <a href="#" ng-click="archiveTodoItems()" id="archive">Архивировать {{todoList.length - numDone()}}</a>
        <hr>
    </div>
</div>


<script src="js/vendors/angular.js"></script>
<script src="js/app.module.js"></script>
<script src="js/app.controller.js"></script>
<script src="js/app.directive.js"></script>
<script src="js/app.filter.js"></script>
<script src="js/app.service.js"></script>

</body>

</html>
